{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Studdy-Buddy Log in</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Amazon_css.css' %}">
     <!-- {% static 'img/' %} -->
</head>
<body>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <div class="actual-container">
        <div class="blue-thing"> </div>
        <img src="{% static 'img/pic2.png' %} " alt="pencil" class="pic2">
        <img src="{% static 'img/pic4.png' %} " alt="pencil" class="pic3">
        <img src="{% static 'img/Study Buddy.png' %} " alt="decorations" class="pic4">
        <img src="{% static 'img/Untitled design.png' %} " alt="logo" class="logo">
        <a href="sign_in/"><div class="button" id="button1">Sign in</div></a>
        <a href="sign_up/"><div class="button" id="button2">Sign up</div></a>
        <div class="blue-thing" id="blue-thing-down"> </div>
        <div class="about-us"> ABOUT US</div>
        <img src="{% static 'img/pic5.png' %} " alt="book decorations" class="book">

    </div>
    <div class="container"> </div>

</body>
</html>
